.venv/
.venv312/
.python_packages/
__pycache__/
*.pyc
*.pyo

local.settings.json
.env
.env.*

.git/
.github/
.vscode/

__blobstorage__/
__queuestorage__/
__azurite_db_*.json
AzuriteConfig

function_app_backup.py
*.csv